<%- include("partials/header.ejs") -%>

<style>
 h2 {
     margin-top: 1em;
 }
</style>

<% const radioButton = ({name, value, isChecked, message}) => { %>
  <% const id = name + '-' + value.replace(/\W+/g, '-'); %>
  <div class="form-check">
    <input class="form-check-input"
           type="radio"
           name="<%=name%>"
           id="<%=id%>"
           value="<%=value%>"
           required
           <% if (isChecked) {%> checked <% } %>>
    <label class="form-check-label" for="<%=id%>">
      <%=message%>
    </label>
  </div>
<% }; %>

<%
const radioButtonGroup = ({name, values}) => {
  for (const entry of [...values, {value: 'N/A', message: "prefer not to answer"}]) {
    const value = entry.value || entry;
    const message = entry.message || entry;
    radioButton({name, value, message, isChecked: value === currentValues[name]})
  }
};
%>

<form class="cover-container p-3 mx-auto text-left" action="/demographic" method="post">
  <h1>Background questions</h1>

  <p>
    Please provide a bit of background information.
    Select “prefer not to answer” if you want to skip a question.
  </p>

  <% if (message) { %>
    <div class="alert alert-danger">
      <%=message%>
    </div>
  <%}%>

  <h2>How old are you?</h2>

  <%radioButtonGroup({
    name: 'ageRange',
    values: ['0-17', '18-25', '25-34', '35-54', '55+'],
  })%>

  <h2>How are your English skills?</h2>

  <p>
    Please select your approximate English level
    as described by the Common European Framework of Reference for Languages (CERFL) scale.
  </p>

  <%radioButtonGroup({
    name: 'englishLevel',
    values: [
      { value: 'A1', message: 'A1 (beginner)' },
      { value: 'A2', message: 'A2 (elementary)' },
      { value: 'B1', message: 'B1 (intermediate)' },
      { value: 'B2', message: 'B2 (upper intermediate)' },
      { value: 'C1', message: 'C1 (advanced)' },
      { value: 'C2', message: 'C2 (native proficiency)' },
    ],
  })%>

  <h2>How's your eyesight?</h2>

  <%radioButtonGroup({
    name: 'vision',
    values: [
      'normal',
      { value: 'corrected', message: 'corrected, e.g. with glasses or contacts' },
      { value: 'impaired', message: 'impaired, e.g. partial blindness' },
    ],
  })%>

  <h2>How did you learn about this study?</h2>

  <%radioButtonGroup({
    name: 'source',
    values: [
      { value: 'student', message: "I'm a student in Prof. Schwind's course" },
      "other",
    ],
  })%>

  <h2>Do you have prior experience with Rapid Serial Visual Presentation (RSVP) for speed reading?</h2>

  <%radioButtonGroup({
    name: 'rsvpExperience',
    values: [
      'no',
      { value: 'other', message: 'no, but I\'ve used other speed reading methods' },
      { value: 'heared', message: 'not really, but I\'ve heard about it' },
      { value: 'occasional', message: 'I have used RSVP occasionally' },
      { value: 'yes', message: 'I have used RSVP regularly or repeatedly in the past' },
    ],
  })%>

  <h2>What device are you using for this study?</h2>

  <%radioButtonGroup({
    name: 'device',
    values: [
        { value: 'PC', message: 'PC, or laptop with external monitor' },
        { value: 'laptop', message: 'laptop or convertible' },
        { value: 'mobile-keyboard', message: 'phone, iPad, or tablet with external keyboard' },
        { value: 'mobile', message: 'other mobile device*' },
    ],
  })%>

  <p>
    * This study requires that you use a physical keyboard with arrow keys.
    If your current device doesn't have a keyboard,
    please restart the study on another device.
  </p>

  <h2>How are your light conditions?</h2>

  <%radioButtonGroup({
    name: 'light',
    values: ['bright', 'good', 'slightly dim', 'dark'],
  })%>

  <h2>Next: short RSVP tutorial</h2>

  <button type="submit" class="btn btn-secondary">submit answers</button>
</form>

<%- include("partials/footer.ejs") -%>
