<%- include("partials/header.ejs") -%>

<form class="cover-container p-3 mx-auto text-left" action="/demographic" method="post">
  <h1>Background questions</h1>

  <p>
    Please provide a bit of background information.
    If you don't want to answer a question,
    please select the “N/A” option.
  </p>

  <% if (message) { %>
    <div class="alert alert-danger">
      <%=message%>
    </div>
  <%}%>

  <h2>How old are you?</h2>

  <% for (let opt of ['0-17', '18-25', '25-34', '35-54', '55+', 'N/A']) { %>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="ageRange"
           id="ageRange-<%= opt.replace(/\W+/g, '-') %>" value="<%= opt%>"
           <% if (opt === ageRange) {%> checked <% } %>>
    <label class="form-check-label" for="ageRange-<%= opt.replace(/\W+/g, '-') %>">
      <%= opt %>
    </label>
  </div>
  <% } %>

  <h2>How is your English level?</h2>

  <p>
    Please select your approximate English level
    as described by the Common European Framework of Reference for Languages (CERFL) scale.
  </p>

  <% for (let opt of ['A1', 'A2', 'B1', 'B2', 'C1', 'C2', 'N/A']) { %>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="englishLevel"
           id="englishLevel-<%= opt.replace(/\W+/g, '-') %>" value="<%= opt %>"
           <% if (opt === englishLevel) {%> checked <% } %>>
    <label class="form-check-label" for="englishLevel-<%= opt.replace(/\W+/, '-') %>">
      <%= opt %> <%= {
        A1: 'beginner', A2: 'elementary',
        B1: 'intermediate', B2: 'upper intermediate',
        C1: 'advanced', C2: 'native proficiency',
      }[opt] || '' %>
    </label>
  </div>
  <% } %>

  <h2>How's your eyesight?</h2>

  <% for (let opt of ['normal', 'corrected', 'impaired', 'N/A']) { %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="vision"
             id="vision-<%= opt.replace(/\W+/g, '-') %>" value="<%= opt %>"
             <% if (opt === vision) {%> checked <% } %>>
      <label class="form-check-label" for="vision-<%= opt.replace(/\W+/g, '-') %>">
        <%= opt %> <%= {
          'corrected': 'e.g. with glasses or contacts',
          'impaired': 'e.g. partial blindness',
        }[opt] || ''%>
      </label>
    </div>
  <% } %>

  <h2>How did you learn about this study?</h2>

  <% for (let opt of ['student', 'other', 'N/A']) { %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="source"
             id="source-<%= opt.replace(/\W+/g, '-') %>" value="<%= opt %>"
             <% if (opt === source) {%> checked <% } %>>
      <label class="form-check-label" for="source-<%= opt.replace(/\W+/g, '-') %>">
        <%= {
          'student': "I'm a student in Prof. Schwind's course",
        }[opt] || opt%>
      </label>
    </div>
  <% } %>

  <h2>Do you have prior experience with Rapid Serial Visual Presentation (RSVP) for speed reading?</h2>

  <% for (let opt of ['no', 'other', 'heared', 'occasional', 'yes', 'N/A']) { %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="rsvpExperience"
             id="rsvpExperience-<%= opt.replace(/\W+/g, '-') %>" value="<%= opt %>"
             <% if (opt === rsvpExperience) {%> checked <% } %>>
      <label class="form-check-label" for="rsvpExperience-<%= opt.replace(/\W+/g, '-') %>">
        <%= {
          'other': 'no, but I\'ve used other speed reading methods',
          'heared': 'not really, but I\'ve heared about it',
          'occasional': 'I have used RSVP occasionally',
          'yes': 'I have used RSVP regularly or repeteadly in the past',
        }[opt] || opt%>
      </label>
    </div>
  <% } %>

  <h2>What device are you using for this study?</h2>

  <% for (let opt of ['PC', 'laptop', 'mobile-keyboard', 'mobile', 'N/A']) { %>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="device"
             id="device-<%= opt.replace(/\W+/g, '-') %>" value="<%= opt %>"
             <% if (opt === device) {%> checked <% } %>>
      <label class="form-check-label" for="device-<%= opt.replace(/\W+/g, '-') %>">
        <%= {
          'PC': 'PC, or laptop with external monitor',
          'laptop': 'laptop or convertible',
          'mobile-keyboard': 'phone, iPad, or tablet with external keyboard',
          'mobile': 'other mobile device*',
        }[opt] || opt%>
      </label>
    </div>
  <% } %>

  <p>
    * This study requires that you use a physical keyboard with arrow keys.
    If your current device doesn't have a keyboard,
    please restart the study on another device.
  </p>


  <h2>How are your light conditions?</h2>

  <% for (let opt of ['bright', 'good', 'slightly dim', 'dark', 'N/A']) { %>
    <div class="form-check">
      <input class="form-check-input" type="radio"
             name="light" id="light-<%= opt.replace(/\W+/g, '-') %>" value="<%= opt %>"
             <% if (opt === device) {%> checked <% } %>>
      <label class="form-check-label" for="light-<%= opt.replace(/\W+/g, '-') %>">
        <%=  opt%>
      </label>
    </div>
  <% } %>

  <h2>Next: short RSVP tutorial</h2>

  <button class="btn btn-secondary">submit answers</button>
</form>

<%- include("partials/footer.ejs") -%>
