<%- include("partials/header.ejs") -%>

<form method="post" action="/formHandler" class="evaluationForm">
  <input type="hidden" name="id" value="<%= id %>">
  <input type="hidden" name="countSlower" value="<%= countSlower %>">
  <input type="hidden" name="countFaster" value="<%= countFaster %>">
  <input type="hidden" name="countPauses" value="<%= countPauses %>">
  <input type="hidden" name="time" value="<%= time %>">

  <div>
    <p class="lead"> <%= question %> </p>
    <div class="answers">
      <div>
        <input type="radio" name="question" value="yes" required>
        <label for="yes">Yes</label>
      </div>
      <div>
        <input type="radio" name="question" value="no">
        <label for="no">No</label><br>
      </div>
    </div>
  </div>

  <p class="lead">
    <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
  </p>

</form>

<%- include ("partials/footer.ejs") -%>
