<%- include("partials/header.ejs") -%>

<div class="mainReader">
  <h1 id="word"></h1>
</div>

<div class="slidecontainer">
  <p id="wpmLabel">Words/minute:</p>
  <p class="lead">
    <a
      href="/form/<%= form %>"
      class="btn btn-lg btn-secondary"
      style="display: none;"
      id="nextButton"
      onmouseover="addData()"
      >
      NEXT
    </a>
  </p>
</div>

<a href="/" id="close"><i class="fas fa-times"></i></a>

<script src="js/rsvp.js"></script>
<script>
  //passing words to rsvpModule
  rsvpModule.init(<%- JSON.stringify(arrayOfWords) %>, <%= speed %>);

  function addData()
  {
    let cf = rsvpModule.getData().countFaster;
    let cs = rsvpModule.getData().countSlower;
    let cp = rsvpModule.getData().countPauses;
    let t = rsvpModule.getData().time;
    let el = document.getElementById("nextButton");
    let formNr = <%= form %>;
    el.setAttribute("href", "/form/" +  formNr + "?cf=" + cf + "&cs=" +cs + "&cp=" + cp + "&t=" + t);
  }
</script>

<%- include ("partials/footer.ejs") -%>
