<%- include("partials/header.ejs") -%>

<div id="rsvp-container" class="mainReader"></div>

<div class="progress-indicator">
  task <%=taskNumber%> of <%=taskTotal%>
</div>

<script type="module">
  import { RsvpUI } from "./js/rsvp.js";

  const $container = document.getElementById('rsvp-container');
  //passing words to rsvp Module
  const tokens = <%- JSON.stringify(arrayOfWords) %>;
  const defaultWpm = <%= speed %>;
  const id = <%= id %>;

  mountRSVP();

  function mountRSVP() {
    let ui = new RsvpUI({
      tokens,
      defaultWpm,
      $container,
      onComplete: (statistics) => {
        ui.unmount();
        mountEvaluation(statistics);
      },
    });
  }

  function mountEvaluation(statistics) {
    const hiddenFields = Object.entries({...statistics, id})
      .map(([key, value]) => `<input type="hidden" name="${key}" value="${value}">`)
      .join("\n");

    $container.outerHTML = `
      <form method="post" action="/text-snippet" class="evaluationForm">
        ${hiddenFields}

        <div>
          <div class="answers">
            <div>
              <input type="radio" name="question" id="question-yes" value="yes" required>
              <label for="question-yes">Yes</label>
            </div>
            <div>
              <input type="radio" name="question" id="question-no" value="no">
              <label for="question-no">No</label><br>
            </div>
          </div>
        </div>

        <p class="lead">
          <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
        </p>

      </form>
    `;
  }
</script>

<%- include ("partials/footer.ejs") -%>
