<%- include("../partials/header.ejs") -%>

<form method="post" action="/formHandler" class="evaluationForm">
  <input type="number" name="formNr" id="formNr" value=<%= formNr %> style="display: none" >
  <input type="number" name="countSlower" id="countSlower" value=<%= countSlower %> style="display: none" >
  <input type="number" name="countFaster" id="countFaster" value=<%= countFaster %> style="display: none" >
  <input type="number" name="countPauses" id="countPauses" value=<%= countPauses %> style="display: none" >
  <input type="number" name="time" id="time" value=<%= time %> style="display: none" >

  <div>
    <p class="lead"> The first bicycle was invented in France. </p>
    <div class="answers">
        <div> <input type="radio"  name="question" value="yes" required>
        <label for="yes">Yes</label>
      </div>
      <div>
        <input type="radio"  name="question" value="no">
        <label for="no">No</label><br>
      </div>
    </div>
  </div>

  <p class="lead">
    <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
  </p>

</form>

<%- include ("../partials/footer.ejs") -%>
